<div class="container">
  <h1>Twitter Fact Checking</h1>
  <h4>Twitter fact checking app prototype</h4>

  <%= form_tag action: "home"%>
    <div class="row">
      <div class="col-lg-9"><%= text_field_tag "keywords", "", placeholder:"Mots-clés", class:"form-control" %></div>
      <div class="col-lg-3"><%= submit_tag "Rechercher" , class:"btn btn-success form-control"%></div>
    </div>

  <div>
      <h2><%= @nbTweets %> tweets trouvés</h2>
      <p>Mots-clés : <b><%= @keywords %></b></p>
      <% @tweet_list.each do |tweet| %>
        <div class="tweet">
          <43>@<%= tweet.user.screen_name %></h4>
          <p><%= tweet.text %></p>
        </div>
      <%end%>
  </div>
</div>
