<%= provide(:title, "Research Result") %>

<%= render "layouts/header_others" %>

<!-- start blog Section -->
<section id="blg_sec">
	<div class="container">
		<div class="row">
      <br/>
			<div class="title_sec">
				<h1>YOUR RESEARCH</h1>
				<h2>WE’RE TWITTER FACTCHECKER GROUP FROM INSA RENNES</h2>
			</div>

			<div class="col-lg-8 col-md-8 col-sm-8" style="z-index: 2;">
        <% @tweet_list.each do |key, tweet| %>
          <div class="sngl_blg">
            <div class="post_info">
              <div class="user_name">
                <h2><%= tweet["user"]["name"] %></h2>
                <i class="fa fa-user-circle-o"></i>
              </div>
              <div class="user_id">
                @<%= tweet["user"]["screen_name"] %>
              </div>
            </div>
            <div class="post_content">
              <p><%= tweet["text"] %></p>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <span class="pull-left">
                      <i class="fa fa-heart"></i>&nbsp;Favorites : <%= tweet["favorite_count"] %>
                    </span>
                    <span class="pull-left">
                      <i class="fa fa-retweet"></i>&nbsp;Retweets : <%= tweet["retweet_count"] %>
                    </span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="#" data-toggle="popover"><i class="fa fa-long-arrow-right"></i> See more</a>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
			</div>				
			
			<div class="col-lg-4 col-md-4 col-sm-4" style="z-index: 1;">
				<div class="sidebar">						
					<div class="search_widget">
            <form method="post" action="<%= get_path_for_search %>">
              <%= text_field_tag 'keywords', '', id: 'sr_bx', placeholder:'Check a new fact ...', autocomplete: 'off' %>
            </form>
					</div>				
					<div class="widget">
						<h2>fact information</h2>
						<div class="title_br"></div>
						<ul>
							<li>Matching tweets : <%= @nb_tweets %></li>
							<li>Accuracy class : Accurate</li>
							<li>Sentimental class : Positive</li>
							<li>Votes : 10</li>
							<li><a href="<%= pages_charts_path %>"><strong><i class="fa fa-long-arrow-right"></i> See details</strong></a></li>
						</ul>
					</div>							
					<div class="widget">
						<h2>keywords</h2>
						<div class="title_br"></div>
						<ul class="tag">
              <% @keywords_tag_array.each do |tag| %>
							  <li><a href="#"><%= tag %></a></li>
              <% end %>
						</ul>
					</div>						
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end Blog Section -->