<% content_for :body_class, 'search_tweets_body' %>

<header>
  <div class="container">
    <div class="header_logo">
      <%= image_tag("logo_white.svg")%>
    </div>
    <div class="header_title">
      <h1>Twitter Fact Checker</h1>
      <h4>Twitter fact checker app prototype</h4>
    </div>

    <%= form_tag action: "search_tweets"%>
      <div class="search-elem search-container row">
        <div class="search-elem search-input col-lg-10"><%= text_field_tag "keywords", "", placeholder:"Search new tweets", class:"search-elem" , id:"keyword_input" , autocomplete:"off"%></div>
        <div class="search-elem search-submit col-lg-2">
          <%= submit_tag "" , class:"search-elem"%>
          <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
      </div>
  </div>
</header>

<div class="container">
  <div>
      <h2><%= @nbTweets %> tweets found</h2>
      <p id="keywords_list">Keywords : <b><%= @keywords %></b></p>

      <%= i=0 %>
      <% @tweet_list.each do |key,tweet| %>
        <div class="tweet">
          <h4><a href="<%= tweet["user"]["url"] %>" target="_blank">@<%= tweet["user"]["screen_name"] %></a></h4>
          <p class="tweet_content"><%= tweet["text"] %></p>
          <p class="tweet_content"><%= tweet["cleaned_text"] %></p>
          <p class="tweet_content"><b>Negatif/Positif : </b><%= tweet["negatif"] %></p>
          <% if(i+1<@nbTweets)%>
          <p class="tweet_content"><b>Score avec le tweet d'après : </b><%= @matrice_score[i][1+i]["score"] %></p>
          <p class="tweet_content"><b>Class avec le tweet d'après : </b><%= @matrice_score[i][1+i]["value"] %></p>
          <%end%>
          <p class="tweet_content"><b>Sentimental class : </b><%= tweet["sentimental_class"] %>&emsp;&emsp;<b>Sentimental score : </b><%= tweet["sentimental_score"] %> </p>
          <p><b><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Favorites : </b><%= tweet["favorite_count"] %>
  	     <b>&emsp;&emsp;<i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;Retweets : </b><%= tweet["retweet_count"] %></p>
        </div>
        <%= i+=1 %>
      <%end%>
  </div>
</div>
